/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

main {
  padding: 32px;
}
.nav-bar {
  display: flex;
  height: 65px;
  background-image: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  padding: 22px;
  color: white;
}
#logo {
  height: 1005;
}

.main-header {
  margin: auto 20px;
}

.side-header {
  margin-left: auto;
  align-items: flex-end;
  font-weight: lighter;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px; 
}

.form--input {
  font-family: karla, sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: karla, sans-serif;
  background-image: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }

  .side-header {
    align-items: center;
    margin: auto;
  }

  .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40px);
  }
}