/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

main {
  padding: 32px;
}
.nav-bar {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 65px;
  background-image: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  padding: 22px;
  color: white;
}
#logo {
  height: 1005;
}

.main-header {
  margin: auto 20px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px; 
}

.form--input {
  font-family: karla, sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-weight: 500;
}

.form--button {
  grid-column: 1 / -1;
  font-family: karla, sans-serif;
  background-image: linear-gradient(rgba(103, 34, 128, 1), rgba(166, 38, 211, 1));
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.meme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.meme--image{
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }
  .form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40px);
  }
}